{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} - enregistrement !{% endblock %}

{% block body %}
    <div class="pf-card-form">
        <form method="post" class="p-5">
            {% if error %}
                <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
            {% endif %}

            {% if app.user %}
                <div class="mb-3">
                    Tu es enregistré(e) en {{ app.user.userIdentifier }}, <a href="{{ path('app_logout') }}">Déconnexion</a>
                </div>
            {% endif %}

            <h2 class="">Enregistre toi !</h2>
            <label for="inputEmail form-label">Adresse mail</label>
            <input type="email form-control" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" autocomplete="email" required autofocus>
            <label for="inputPassword form-label">Mot de Passe</label>
            <input type="password form-control" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required>

            <input type="hidden" name="_csrf_token"
                   value="{{ csrf_token('authenticate') }}"
            >
            <div class="text-center">
                <button type="submit">
                    Se connecter
                </button>
            </div>
        </form>
    </div>
{% endblock %}
