{% extends 'base.html.twig' %}

{% block title %}Modifier compétence {{skill.name}}{% endblock %}

{% block body %}
    <h2>Modifier compétence {{skill.name}}</h2>
    {{ form_start(form) }}
        {{ form_row(form.name) }}
        <button type="submit">Modifier</button>
    {{ form_end(form) }}
{% endblock %}